{% extends "base_generic.html" %}

{% block content %}
  <h1>ID: {{ tabla.id }}</h1>

  <p><strong>Fecha:</strong> <a href="">{{ tabla.fecha }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Comentario:</strong> {{ tabla.comentario }}</p>
  <p><strong>Consumo:</strong> {{ tabla.consumo }}</p> 
  <p><strong>id:</strong> {{ tabla.id }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in tabla.tablainstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
{% endblock %}