
<!DOCTYPE html>
{% extends 'cabecera.html' %}
<body>
	{% block cabecera %}
		<p>Bienvenidos a CO2 calculator </p>
		<p>Los efectos del aumento del Co2, así como del forzamiento radiativo están trayendo unas consecuencias inesperadas para el medio ambiente. Ya se han observado muchos impactos del cambio climático, incluido el retroceso de los glaciares, cambios en el tiempo de los eventos estacionales, como el florecimiento precoz de las plantas, y cambios en la productividad agrícola.</p>
		<p>Es por eso que llevar un registro de las emisiones de CO2 de nuestra empresa es indispensable.
		</p>
	{% endblock %}
</body>


