{% extends 'cabecera.html' %}

{% block cabecera %}

    <li style="background-color: lightblue"><a href="../../ConsumoAguaDetail/{{pk}}">ConsumoAgua</a></li>
<!--
    <li style="background-color: lightblue"><a href="{% url 'tabla' %}">ConsumoVehiculo</a></li>
    <li style="background-color: lightblue"><a href="{% url 'tabla' %}">ConsumoEdificios</a></li>
	<li style="background-color: lightblue"><a href="{% url 'tabla' %}">ConsumoElectricidad</a></li>
	<li style="background-color: lightblue"><a href="{% url 'tabla' %}">ConsumoCalefaccion</a></li>
	<li style="background-color: lightblue"><a href="{% url 'tabla' %}">PersonalEmpresa</a></li>
	<li style="background-color: lightblue"><a href="{% url 'tabla' %}">ViajesEmpresa</a></li>
	<li style="background-color: lightblue"><a href="{% url 'tabla' %}">GeneracionElectricidad</a></li>
-->

{% endblock %}